In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('data_operation.pickle')

In [3]:
df

,year1,year2,measure1,measure2,category,region,operation,x,y,yhat,upper,upper2,lower,lower2,z,zabs,correlation
1,2017,2017,Budget_OL,Budget_OL,operation,Middle East and North Africa,Yemen,7.273729e+07,7.273729e+07,7.273729e+07,7.273729e+07,7.273729e+07,7.273729e+07,7.273729e+07,NaN,NaN,NaN
16,2017,2017,Budget_OL,Budget_OL,operation,East Horn and Great Lakes,Sudan,9.584596e+07,9.584596e+07,9.584596e+07,9.584596e+07,9.584596e+07,9.584596e+07,9.584596e+07,NaN,NaN,NaN
17,2017,2017,Budget_OL,Budget_OL,operation,Southern Africa,Angola,2.062488e+07,2.062488e+07,2.062488e+07,2.062488e+07,2.062488e+07,2.062488e+07,2.062488e+07,NaN,NaN,NaN
18,2017,2017,Budget_OL,Budget_OL,operation,Asia and the Pacific,Thailand MCO,1.692684e+07,1.692684e+07,1.692684e+07,1.692684e+07,1.692684e+07,1.692684e+07,1.692684e+07,NaN,NaN,NaN
19,2017,2017,Budget_OL,Budget_OL,operation,Asia and the Pacific,Bangladesh,5.688474e+07,5.688474e+07,5.688474e+07,5.688474e+07,5.688474e+07,5.688474e+07,5.688474e+07,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,2022,2022,Budget_OP_Pillar_3,Budget_OP_Pillar_3,operation,Middle East and North Africa,Mauritania,0.000000e+00,0.000000e+00,-1.862645e-09,-1.862645e-09,-1.862645e-09,-1.862645e-09,-1.862645e-09,NaN,NaN,NaN
601,2022,2022,Budget_OP_Pillar_3,Budget_OP_Pillar_3,operation,Middle East and North Africa,Tunisia,0.000000e+00,0.000000e+00,-1.862645e-09,-1.862645e-09,-1.862645e-09,-1.862645e-09,-1.862645e-09,NaN,NaN,NaN
602,2022,2022,Budget_OP_Pillar_3,Budget_OP_Pillar_3,operation,Europe,United Kingdom,0.000000e+00,0.000000e+00,-1.862645e-09,-1.862645e-09,-1.862645e-09,-1.862645e-09,-1.862645e-09,NaN,NaN,NaN
603,2022,2022,Budget_OP_Pillar_3,Budget_OP_Pillar_3,operation,Europe,Germany,0.000000e+00,0.000000e+00,-1.862645e-09,-1.862645e-09,-1.862645e-09,-1.862645e-09,-1.862645e-09,NaN,NaN,NaN
0,2022,2022,Budget_OP_Pillar_3,Budget_OP_Pillar_3,correlation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [4]:
df1 = df[df.category == 'operation']

In [19]:
df1[df1.z.isna() & (df1.measure1 != df1.measure2)]

,year1,year2,measure1,measure2,category,region,operation,x,y,yhat,upper,upper2,lower,lower2,z,zabs,correlation
1,2017,2017,Ratio_Budget_WOL_ABOD_Fix_vs_Budget_WOL_ABOD,Ratio_Budget_WOL_ABOD_Var_vs_Budget_WOL_ABOD,operation,Middle East and North Africa,Yemen,0.416151,0.083849,0.083849,0.083849,0.083849,0.083849,0.083849,NaN,NaN,NaN
16,2017,2017,Ratio_Budget_WOL_ABOD_Fix_vs_Budget_WOL_ABOD,Ratio_Budget_WOL_ABOD_Var_vs_Budget_WOL_ABOD,operation,East Horn and Great Lakes,Sudan,0.253796,0.246204,0.246204,0.246204,0.246204,0.246204,0.246204,NaN,NaN,NaN
17,2017,2017,Ratio_Budget_WOL_ABOD_Fix_vs_Budget_WOL_ABOD,Ratio_Budget_WOL_ABOD_Var_vs_Budget_WOL_ABOD,operation,Southern Africa,Angola,0.142211,0.357789,0.357789,0.357789,0.357789,0.357789,0.357789,NaN,NaN,NaN
18,2017,2017,Ratio_Budget_WOL_ABOD_Fix_vs_Budget_WOL_ABOD,Ratio_Budget_WOL_ABOD_Var_vs_Budget_WOL_ABOD,operation,Asia and the Pacific,Thailand MCO,0.258088,0.241912,0.241912,0.241912,0.241912,0.241912,0.241912,NaN,NaN,NaN
19,2017,2017,Ratio_Budget_WOL_ABOD_Fix_vs_Budget_WOL_ABOD,Ratio_Budget_WOL_ABOD_Var_vs_Budget_WOL_ABOD,operation,Asia and the Pacific,Bangladesh,0.261579,0.238421,0.238421,0.238421,0.238421,0.238421,0.238421,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,2022,2022,Ratio_Budget_WOL_ABOD_Var_vs_Budget_WOL_ABOD,Ratio_Budget_WOL_ABOD_Fix_vs_Budget_WOL_ABOD,operation,West and Central Africa,Liberia,0.303333,0.196667,0.196667,0.196667,0.196667,0.196667,0.196667,NaN,NaN,NaN
600,2022,2022,Ratio_Budget_WOL_ABOD_Var_vs_Budget_WOL_ABOD,Ratio_Budget_WOL_ABOD_Fix_vs_Budget_WOL_ABOD,operation,Middle East and North Africa,Mauritania,0.285218,0.214782,0.214782,0.214782,0.214782,0.214782,0.214782,NaN,NaN,NaN
601,2022,2022,Ratio_Budget_WOL_ABOD_Var_vs_Budget_WOL_ABOD,Ratio_Budget_WOL_ABOD_Fix_vs_Budget_WOL_ABOD,operation,Middle East and North Africa,Tunisia,0.245102,0.254898,0.254898,0.254898,0.254898,0.254898,0.254898,NaN,NaN,NaN
602,2022,2022,Ratio_Budget_WOL_ABOD_Var_vs_Budget_WOL_ABOD,Ratio_Budget_WOL_ABOD_Fix_vs_Budget_WOL_ABOD,operation,Europe,United Kingdom,0.327539,0.172461,0.172461,0.172461,0.172461,0.172461,0.172461,NaN,NaN,NaN
603,2022,2022,Ratio_Budget_WOL_ABOD_Var_vs_Budget_WOL_ABOD,Ratio_Budget_WOL_ABOD_Fix_vs_Budget_WOL_ABOD,operation,Europe,Germany,0.302646,0.197354,0.197354,0.197354,0.197354,0.197354,0.197354,NaN,NaN,NaN